{% extends 'layout.html'%}

{% block body %}

  <h1 class="text-center mt-5">PROTOTIPO SISTEMA</h1>

  <div class="jumbotron text-center" style="margin-bottom:0;font-size: 10px;">
    <h1 class="display-3">INGRESO AL SISTEMA</h1>
    <!-- <form action="">
      <div class="form-group">
        <label for="doc"></label>
        <input type="number" id="user" name="user" placeholder="Ingrese usuaro" class="form-control" required pattern="[0,9].{6,10}">
        <input type="password" id="user" name="user" placeholder="Ingrese contraseña" class="form-control" required pattern="[0,9].{6,10}">
    </div>

    </form> -->
    <a href="{{url_for('index')}}" class="btn btn-success">IR</a>
  </div>


{% endblock %}